<%- include('./includes/head.ejs') %>
    <div class="min-height-300 bg-gradient-info position-absolute w-100"></div>

    </head>

    <body class="g-sidenav-show  bg-gray-100">
        <%- include('./includes/sidebar.ejs') %>
            </aside>

            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
                <!-- Navbar -->
                <%- include('./includes/navigation.ejs') %>

                    </nav>
                    <!-- End Navbar -->

                    <main class="main-content  mt-0">
                        <section class="min-vh-10 mb-8">
                            <div class="container">
                                <div class="row mt-6">
                                    <div class="col-xl-8 col-lg-5 col-md-7 mx-auto">
                                        <div class="card z-index-0">
                                            <div class="card-header text-center pt-3 pb-0">
                                                <h5>Add Service Details</h5>
                                            </div>
                                            <div class="card-body mt-0">
                                                <form action="addServiceDetails" method="POST" role="form text-left"
                                                    enctype="multipart/form-data">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" required
                                                            name="service_name" placeholder="Service Name"
                                                            aria-label="Service Name"
                                                            aria-describedby="service_name-addon">
                                                    </div>

                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" required
                                                            name="service_description" placeholder="Service Description"
                                                            aria-label="service_description"
                                                            aria-describedby="service_description-addon">
                                                    </div>

                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" required
                                                            name="service_list" placeholder="Service List"
                                                            aria-label="service_list"
                                                            aria-describedby="service_list-addon">
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" required name="service_time"
                                                            onfocus="(this.type='time')" placeholder="Enter Service Time"
                                                            aria-label="Enter Service Time" aria-describedby="service_time-addon"
                                                            >
                                                    </div>
                                                    <div class=" mb-3">
                                                        <input type="text" onkeypress="isNumber(event)"
                                                            class="form-control" required name="service_price"
                                                            placeholder="Service Price" aria-label="service_price"
                                                            aria-describedby="service_price-addon">
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="file" class="form-control" name="image" id="image">
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit"
                                                            class="btn bg-gradient-info w-100 my-4 mb-2">Add
                                                            Service Details</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>





                        <%- include('./includes/end.ejs') %>