<%- include('./includes/head.ejs') %>
<div class="min-height-300 bg-gradient-info position-absolute w-100" ></div>

    </head>

    <body class="g-sidenav-show  bg-gray-100">
        <%- include('./includes/sidebar.ejs') %>
            </aside>

            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
                <!-- Navbar -->
                <%- include('./includes/navigation.ejs') %>

                    </nav>
                    <!-- End Navbar -->

                    <div class="container-fluid py-4">
                        <div class="container mb-5 ">
                            <div class="row">
                                <div class="card ">
                                    <p class="mt-5 mb-5" style="text-align: center; color: green; font-size: xx-large;">Thanks for payment</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <%- include('./includes/end.ejs') %>