</div>
</main>

<script>

  function isNumber(evt) {
    var ch = String.fromCharCode(evt.which);
    if (!(/[0-9]/.test(ch))) {
      evt.preventDefault();
    }
  }
</script>
<!--   Core JS Files   -->
<script src="/javascripts/core/popper.min.js"></script>
<script src="/javascripts/core/bootstrap.min.js"></script>
<script src="/javascripts/plugins/perfect-scrollbar.min.js"></script>
<script src="/javascripts/plugins/smooth-scrollbar.min.js"></script>
<script src="/javascripts/plugins/chartjs.min.js"></script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/javascripts/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>